nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 768px) {
        justify-content: center;
        gap: 20px;
    }
    div {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    a {
        font-size: clamp(1rem, 2vw, 1.5rem);
        text-decoration: none;
        color: #2F2F2F;
        font-family: 'Hanken Grotesk', sans-serif;

        &:hover {
            text-decoration: underline;
        }
      }
}